# Database Configuration
POSTGRES_USER=CHANGE_ME_DB_USER
POSTGRES_PASSWORD=CHANGE_ME_DB_PASSWORD
POSTGRES_DB=fromcode_app
DATABASE_URL=postgres://CHANGE_ME_DB_USER:CHANGE_ME_DB_PASSWORD@db:5432/fromcode_app

# System
NODE_ENV=development
PORT=3000
JWT_SECRET=CHANGE_ME_JWT_SECRET_MIN_32_CHARS
