# Database Configuration
POSTGRES_USER=fromcode
POSTGRES_PASSWORD=fromcode_pass
POSTGRES_DB=fromcode_app
DATABASE_URL=postgres://fromcode:fromcode_pass@db:5432/fromcode_app

# System
NODE_ENV=development
PORT=3000
